.container {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;

  @include mediaMin(sm) {
    max-width: 540px;
  }

  @include mediaMin(md) {
    max-width: 720px;
  }

  @include mediaMin(lg) {
    max-width: 860px;
  }

  @include mediaMin(xl) {
    max-width: 960px;
  }

  @include mediaMin(xxxl) {
    max-width: 1220px;
  }
}

.main-container {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
  z-index: 1;
  @include mediaMax(sm) {
    padding: 2rem;
  }
}
