.button {
  @extend .is-size-4;
  @extend .is-text-purple02;
  @extend .is-semibold;
  padding: 1rem 2rem;
  border-radius: 32px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $gray-03;
    color: $black-02;
  }

  &.is-purple {
    background-color: $purple-02;
    color: $white-01;
    &:hover {
      background-color: $gray-02;
    }
  }
}
