.is-text-purple {
  color: $purple-01;
}

.is-text-black {
  color: $black-01 !important;
}

.is-text-black02 {
  color: $black-02;
}

.is-text-gray {
  color: $gray-04;
}

.is-text-gray02 {
  color: $gray-01;
}

.is-text-white {
  color: $white-01;
}
