.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;

  &-small {
    width: 0.5rem;
    height: 0.5rem;
  }
  &-normal {
    width: 2rem;
    height: 2rem;
  }
  &-medium {
    width: 3rem;
    height: 3rem;
  }
  &-large {
    width: 4rem;
    height: 4rem;
  }
  &-big {
    width: 10rem;
    height: 5rem;
  }

  &-logo {
    background-image: url("/assets/icons/icon_sensedia.svg");
  }
  &-arrow {
    background-image: url("/assets/icons/icon_arrow.svg");
  }
  &-help {
    background-image: url("/assets/icons/icon_help.svg");
  }
  &-apps {
    background-image: url("/assets/icons/icon_apps.svg");
  }
  &-sport {
    background-image: url("/assets/icons/icon_sport.svg");
  }
  &-level {
    background-image: url("/assets/icons/icon_level.svg");
  }
  &-score {
    background-image: url("/assets/icons/icon_score.svg");
  }
  &-search {
    background-image: url("/assets/icons/icon_search.svg");
  }
  &-trash {
    background-image: url("/assets/icons/icon_trash.svg");
  }
  &-float {
    background-image: url("/assets/icons/icon_float.svg");
  }
  &-heart {
    background-image: url("/assets/icons/icon_heart.svg");
  }
  &-face {
    background-image: url("/assets/icons/icon_face.svg");
  }
}
