.table {
  border-collapse: collapse;
  width: 100%;

  & thead {
    border-top: 1px solid $gray-05;
    border-bottom: 1px solid $gray-05;

    & th {
      @extend .is-size-2;
      @extend .is-semibold;
      @extend .is-text-gray;
      padding: 0.5rem 0rem;
      text-align: left;
    }
  }

  & tbody {
    & tr {
      padding: 0.5rem;
    }

    & td {
      @extend .is-text-gray;
      @extend .is-regular;
      @extend .is-size-2;
      padding: 1.5rem 0rem;
      text-align: left;
      border-bottom: 1px solid $gray-05;

      &.td-especial {
        text-align: center;
      }
    }
  }
}
