.gameStats {
  height: 7rem;
  margin-top: 11rem;
  display: flex;
  background-color: $purple-01;

  &__container {
    display: flex;
    align-items: center;
    gap: 7rem;
  }

  &__content {
    display: flex;
    gap: 1rem;

    & div {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}

.usersInformation {
  display: flex;
  overflow-y: hidden;
  gap: 3rem;
  flex-wrap: wrap;

  & h3 {
    width: 100%;
  }
}

.registerForm {
  border: 1px solid $gray-03;
  border-radius: 10px;
  padding: 3rem 1.5rem;
  margin-top: 1rem;
}
