.banner-simple-slide {
  width: 100%;
  min-height: 65vh;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 4fr 5fr;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @include mediaMax(lg) {
    display: grid;
    grid-template-columns: 6fr 4fr;
  }

  @include mediaMax(md) {
    display: grid;
    grid-template-columns: 1fr 0;
    background-image: unset;
  }

  @include mediaMax(xs) {
    display: block;
    background-size: auto 19rem;
    background-position: top right;
    min-height: 40vh;
  }

  &-col-1,
  &-col-2 {
    z-index: 1;
  }

  &-col-1 {
    display: revert;
    z-index: 0;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    @media only screen and (min-width: 500px) and (max-width: 993px) {
      display: none;
    }
  }

  &-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 5rem;
    gap: 2rem;
    @include mediaMax(md) {
      padding: 1rem 2rem;
      gap: 1rem;
    }
    @include mediaMax(xs) {
      justify-content: flex-start;
    }

    & h3 {
      @extend .fs-4;
      line-height: 1.2em;
      text-transform: uppercase;
      max-width: 20rem;
      @include mediaMax(xs) {
        min-height: 5rem;
      }
      & span {
        @extend .fs-3;
        line-height: 1.5em;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }

    & .subtitle {
      @extend .is-size-1;
      @extend .is-text-black;
    }

    & .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;

      :nth-child(n) {
        background-color: $gray-03;
        padding: 0.5rem;
        border-radius: 10px;
        text-align: -webkit-center;
        & p {
          @extend .is-semibold;
          @extend .is-size-2;
          @extend .is-text-black02;
        }
      }
    }
  }
}
