.content-input {
  border: none;
  border-bottom: 1px solid $gray-04;
  background-color: $gray-03;
  position: relative;
  padding: 0.5rem 1rem;
  width: 100%;

  @include mediaMax(xs) {
    width: 100%;
  }

  &-Icon {
    position: absolute;
    right: 1rem;
    top: 0.2rem;
  }
}

.input {
  @extend .is-size-2;
  @extend .is-regular;
  color: $gray-04;
  background-color: $gray-05;
  flex: 1;
  outline: none;
  border: 0;
  &-error {
    border: rgba(181, 30, 30, 0.307) 2px solid;
    color: rgba(181, 30, 30, 0.307);
  }
}
