.paginator {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  @extend .is-size-1;
  gap: 1.2rem;

  &-content {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &Button {
      @extend .is-size-4;
      @extend .is-text-gray;
      @extend .is-semibold;
      padding: 0.5rem 1rem;
      border: 2px solid $gray-01;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

.page-item {
  @extend .is-size-4;
  @extend .is-regular;
  color: $gray-06;
  cursor: pointer;
  &:hover {
    color: $purple-02;
  }
  &.is-active {
    color: $purple-02;
    @extend .is-size-3;
    @extend .is-semibold;
  }
}

.select-list {
  border: none;
  border-bottom: 1px solid $gray-02;
  cursor: pointer;
  @extend .is-size-5;
  @extend .is-text-gray;
  @extend .is-semibold;
  &:focus-visible {
    border: none;
    outline: $purple-02;
  }
}
